$h1-color: rgba(0, 91, 255, 1);
$h1-size: 3em;
$h1-bg: adjust-color(green, $hue: 90deg);
$main-color: black;
$main-bg: rgb(244, 244, 255);



h1 {
    color: $h1-color;
    font-size: $h1-size;
}

header {
    background-color: $h1-bg;
}


:root {
    --main-color: #{$main-color};
    --bg-primary-btn:  rgba(0, 91, 255, 1);
    --color-green: #10c44c;
    --color-sale: #f91155;
    --color-review:  rgb(255, 168, 0);
    --font-size-price-now: 1.5rem;
    --font-size-barnd: 0.8rem;
}



*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

body {
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: aliceblue;
    min-height: 100px;

}

main {
    flex-grow: 1;
}

@mixin set-color-text {
    @if(lightness($main-bg) < 30%) {
        color: white;
    }
    @else {
        color: black
    }
}

.container {
    @include set-color-text();
    max-width: 1800px;
    margin: 0 {
        left: auto;
        right: auto;
    };
    position: relative;
    background-color: $main-bg;
    color: $main-color;
}


@media (max-width: 1800px) {
    .container {
        max-width: 1600px;
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}

/* каталог */

.catalog {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &__filter {
        width: 200px;
        background-color: aliceblue;
        flex-shrink: 0;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__sort {
        background-color: aliceblue;
        min-height: 40px;
    }

    &__content {
        flex-grow: 1;
    }

    &__grid {
        display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 15px;

    @media (max-width: 1440px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }
    }
}







/* карточка */

.catalog__card {
    width: 100%;
    background-color: $main-bg;
    padding: 6px;
    display: flex;
    flex-direction: column;
}


.catalog__img {
    width: 100%;
    border-radius: 6px;
    aspect-ratio: 1;
    object-fit: cover;
}

.catalog__price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

@mixin price ($price-color: black, $price-size: 1em) {
    color: $price-color;
    font-size: $price-size;
}

.price-now {
    font-weight: bold;
    margin-right: 6px;
    @include price (var(--color-green), var(--font-size-price-now));
}

.price-early {
    text-decoration: line-through;
    font-weight: bold;
    margin-right: 6px;
    @include price (#99a3ae);
}

.price-sale {
    font-weight: bold;
    @include price (#f91155);
}

.catalog__rest {
    color: #f91155;
    font-size: 0.8rem;
}

.catalog__brand {
    font-size: 0.8rem;
}

.catalog__brand i {
    color: #10c44c;
}

.catalog__raiting i {
    color: rgb(255, 168, 0);
}

.catalog__raiting {
    margin-right: 10px;
}

.catalog__review {
    color: #99a3ae;
}

.catalog__feedback {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    flex-grow: 1;
}

.catalog__btn {
    background-color: rgba(0, 91, 255, 1);
    padding: 10px;
    width: 100%;
    color: wheat;
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: background 0.3s ease-in;
    position: relative;
}

.catalog__btn::after {
    content: "\F11F";
    font-family: bootstrap-icons;
    color: rgb(255, 168, 0);
    position: absolute;
    right: -5px;
    bottom: -5px;
}

.catalog__btn:hover,
.catalog__btn:focus,
.catalog__btn:active {
    background-color: rgb(55, 125, 255);
}

.img__wrapper {
    position: relative;
}

.fav-btn {
    color: #99a3ae;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.2s ease-in-out;
}

.fav-btn:hover,
.fav-btn:active,
.fav-btn:focus {
    color: #f91155;
}

.catalog__promotions {
    position: absolute;
    bottom: 10px;
    left: 4px;
    color: white;
    background-color: #f91155;
    border-radius: 6px;
    padding: 6px;
    font-size: 0.8rem;
    font-weight: bold;
}

.catalog__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include set-color-text();
    text-decoration: none;
    transform: color 0.3s;
    font-size: clamp(0.8rem, 1rem, 1.5rem);
}

.catalog__title:hover,
.catalog__title:focus {
    color: blue;
}


h1 {
    font-size: calc(80px/2);
}




// регистрация //

$bg-btn: rgb(17, 65, 153);
$color-btn: adjust-hue($bg-btn, 270deg);
$font-size-btn: 1.2em;
$radius-btn: 3px;


.auth__btn--login {
    background-color: $bg-btn;
    color: $color-btn;
    font-size: $font-size-btn;
    border-radius: $radius-btn;
    padding-left: $font-size-btn*0.5;
    padding-right: $font-size-btn*0.5;
}


.auth__btn--reg {
    background-color: lighten($bg-btn, 50%);
    color: blackness(lighten($bg-btn, 50%), 10%);
    font-size: $font-size-btn;
    border-radius: $radius-btn;
    padding-left: $font-size-btn*0.5;
    padding-right: $font-size-btn*0.5;
}

.auth {
    max-width: 200px;
    background-color: adjust-color($bg-btn, $lightness:40%);
    padding: 20px;

    &__value {
        border-radius: $radius-btn;
    }

    &__btn {
        border: none;
        transition: all 0.3s;

        &--login {
            color: $color-btn;
            background: $bg-btn;
        }

        &--reg {
            color: adjust-color($bg-btn, $lightness:20%);
            background: adjust-color($bg-btn, $blackness:20%);
        }
    }
    div {
        padding-top: 10px;
    }

    div:first-child {
        padding-top: 0px;
    }
}


